@import "tailwindcss";

@theme {
    --color-text: #24150E;        /* Text Main */
    --color-muted: #7B6658;       /* Text Muted */
    --color-border: #EEDCCB;      /* Border */
    --color-border-point: #F0BE83; /* Border Point */
}